#open-source-projects {
	.project {
		@include border_shadow();
		.content {
			display: inline-block;
			width: 750px;
			float: right;
		}
		img {
			@include square(200px);
			margin: 20px 0 0 20px;
		}
		ul.project-links {
			display: inline-block;
			list-style-type: none;

			li {
				@include square(28px);
				float: left;

				a {
					display: block;
					text-indent: -9999px;
				}
				.github {
					background: url('/images/logos/github_icon.png') center no-repeat;
				}
				.web {
					background: url('/images/logos/web_icon.png') center no-repeat;
				}
			}
		}
	}
}