<div class="related-links">
	<h3>Other Headspring Sites</h3>
	<ul>
		<li><a href="http://www.headspring.com">Headspring</a></li>
		<li><a href="http://www.headspringmobile.com">Headspring Mobile</a></li>
	</ul>
</div>

<div class="related-links">
	<h3>Communities/Groups</h3>
	<ul>
		<li><a href="http://www.adnug.org">ADNUG</a></li>
		<li><a href="http://polyglotprogrammers.org">Polyglot ATX</a></li>
	</ul>
</div>

<div class="related-links">
	<h3>Open Source</h3>
	<ul>
		<li><a href="http://www.adnug.org">AutoMapper</a></li>
		<li><a href="http://polyglotprogrammers.org">Formo</a></li>
		<li><a href="http://polyglotprogrammers.org">Parsely</a></li>
		<li><a href="http://polyglotprogrammers.org">NAAK</a></li>
	</ul>
</div>

<div class="related-links">
	<h3>Events</h3>
	<ul>
		<li><a href="http://www.adnug.org">CTX Givecamp</a></li>
		<li><a href="http://polyglotprogrammers.org">Houston TechFest</a></li>
		<li><a href="http://polyglotprogrammers.org">Austin Code Camp</a></li>
	</ul>
</div>

<hr />

Copyright &copy; {{ site.time | date: "%Y" }}
{% if site.author %}
    {{ site.author }}
{% else %}
    {{ site.title }}
{% endif %}
