<div class="related-links">
	<h3>Other Headspring Sites</h3>
	<ul>
		{% for key in site.current_headspring_sites %}
		{% assign website = site.headspring_sites[key] %}
			<li><a href="{{ website.url }}">{{ website.name }}</a></li>
		{% endfor %}
	</ul>
</div>

<div class="related-links">
	<h3>Communities/Groups</h3>
	<ul>
		{% for key in site.current_communities %}
		{% assign website = site.communities[key] %}
			<li><a href="{{ website.url }}">{{ website.name }}</a></li>
		{% endfor %}
	</ul>
</div>

<div class="related-links">
	<h3>Open Source</h3>
	<ul>
		{% for key in site.current_open_source_projects %}
		{% assign proj = site.open_source_projects[key] %}
			{% if proj.featured %}
				{% if proj.web %}
				<li><a href="{{ proj.web }}">{{ proj.name }}</a></li>
				{% else %}
				<li><a href="https://github.com/{{ proj.github }}">{{ proj.name }}</a></li>
				{% endif %}
			{% endif %}
		{% endfor %}
	</ul>
</div>

<div class="related-links">
	<h3>Events</h3>
	<ul>
		{% for key in site.current_events %}
		{% assign website = site.events[key] %}
			<li><a href="{{ website.url }}">{{ website.name }}</a></li>
		{% endfor %}
	</ul>
</div>

<hr />

Copyright &copy; {{ site.time | date: "%Y" }}
{% if site.author %}
    {{ site.author }}
{% else %}
    {{ site.title }}
{% endif %}
